<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script src="@Url.Content("~/Content/jquery/jquery-2.1.0.min.js")"></script>

    <script src="@Url.Content("~/Content/codemirror/lib/codemirror.js")"></script>
    
    <link href="@Url.Content("~/Content/codemirror/lib/codemirror.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/codemirror/addon/fold/foldgutter.css")" rel="stylesheet" />
    
    <link href="~/Content/codemirror/theme/ambiance.css" rel="stylesheet" />
    <link href="~/Content/codemirror/addon/display/fullscreen.css" rel="stylesheet" />
    <script src="~/Content/codemirror/addon/display/fullscreen.js"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/brace-fold.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/comment-fold.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/foldcode.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/foldgutter.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/indent-fold.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/markdown-fold.js")"></script>
    <script src="@Url.Content("~/Content/codemirror/addon/fold/xml-fold.js")"></script>
    <script src="~/Content/codemirror/keymap/sublime.js"></script>

    <script src="@Url.Content("~/Content/codemirror/mode/clike/clike.js")"></script>
    
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .CodeMirror {

        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
